body {
    font-family: sans-serif;
    color: #333; /* keep */
}
#background-container{
    background-color: #ADD8E6
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
}
h1 {
    text-align: center; 
}
#container {
    max-width: 725px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; 
    grid-template-areas:
        "header header"
        "united united"
        "card1 card2"
        "card3 card4"
        "card5 card6"
        "card7 card8"
        "card9 card10";
}
.card {
    background: #333; 
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.map-container {
    height: 200px; 
    border: 1px solid #999;
    max-width: 100%;
}
.card-title {
    color: #333;
    margin-left: 10px;
}

.card-text {
    color: #555;
    margin-left: 10px;
}

#bigmap {
    height: 550px;
    margin: 1rem;
    border: 1px solid #999;
    max-width: 100%;
    
} 

@media only screen and (max-width: 700px) {
    #bigmap {
        margin: 1rem;
    }
}